*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #F8F8F8;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 0.1px;
}

#nav{
    height: 12vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

#nav h1 {

    font-size: 50px;
    display: flex;
    flex-direction: column; /* Stack text vertically */
    align-items: center; /* Center align both texts */
    justify-content: center; /* Center align both vertically */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    line-height: 1; /* Remove extra spacing between lines */
    padding-left: 30px;
    /* letter-spacing: -5px; */
}

#nav h1 span {
    font-size: 10px;
    font-weight: 200;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    line-height: 1; /* Ensure no extra spacing here as well */
    display: block; /* Ensure span behaves as block element */
}

#nav h2{
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-weight: 400;
    font-size: 20px;

}

#nav h2:nth-last-child(1){
    /* width: 10px; */
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 0;

}

#center{
    height: 90%;
    width: 100%;
    padding: 4vw;
    position: relative;
}

#content{
    height: 100%;
    width: 100%;
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding:3vw;
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 2vw;
}

#over1 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vw;
    font-weight: 400;
    line-height: 3.8vw;
    mix-blend-mode: difference;
}

#over1 h2{
    font-size: 1.5vw;
    padding: 2vw 2.1vw;
    border-radius: 50%;
    border: 2px solid white;
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}

#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

#over2 img{
    height: 4vw;
}

#scroll{
    height: 30vh;
    width: 100%;
    white-space: nowrap;
}

#container{
    height: 100%;
    width: 125.45%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img{
    height: 7.14vw;
    border-radius: 50%;
    width: 7.14vw;
    margin: 1.5vw;
    object-fit: cover;
    object-position: top;
}

@keyframes anime {
    from{
        transform: translateX(0);

    }
    to{
        transform: translateX(-100%);
    }
}

#alphabet{
    height: 11vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 1vw;
    font-family: 'Poppins', sans-serif;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

#alphabet h5{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid rgb(0, 0, 0);
    letter-spacing: 2px;
}

#alphabet h6{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2px;
    padding: 1px 7px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all ease 0.2s;
}

#alphabet h6:hover{
    border: 2px solid black;
}

#page2{
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
    padding-bottom: 0;
}

#page2-part1{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1529139574466-a303027c1d8b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#page2-part2{
    height: 100%;
    width: 46%;
}

#page2-part2 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: top;
    top: -50px;
}

#page2-part2-text{
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    align-items: center;
}

#page2-part2-text h3{
    height: 100%;
    width: 40%;
    font-size: 1.5vw;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    font-weight: 500;
}

#page2-part2-text h5{
    height: 100%;
    width: 60%;
    font-size: 0.75vw;
    font-weight: 300;
    align-items: center;
    justify-content: center;

}

#vogue{
    height: 50px;
    padding: 0.25vw 5vw;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 90px;
}

#vogue h1{
    font-weight: 500;
    letter-spacing: 7px;
}

#page-3{
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    padding-bottom: 20px;
}

#page-3-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#page-3-left img{
    max-width: 50%; 
    height: auto; 
    display: block;
}

#page-3-left h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#page-3-right{
    height: 100%;
    width: 46%;
}

#page-3-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page-4 {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
}

#page-4 img {
    width: 90%; 
    height: 80%; 
    object-fit: cover; 
    margin-top: 0; 
}

#page-5{
    height: 90%;
    width: 100%;
    position: relative;
    padding: 0vw 5vw;
    margin-bottom: 0;
}

#page-5>h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 900;
    margin-bottom: 5vh;
}

.elem{
    height: 15vh;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    transition: all ease 0.2s;
}

.elem h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vw;
    font-weight: 400;
    width: 6%;
}

.elem img{
    height: 120px;
    width: 120px;
    position: absolute;
    border-radius: 50%;
    left: 10%;
    opacity: 0%;
    transition: all ease 0.5s;
    object-fit: cover;
}

.elem:nth-last-child(1) img{
    left:50%;
}

.elem:nth-last-child(3) img{
    left:45%;
}

.elem:hover img{
    opacity: 1;
    left: 27%;
}

.elem .elem-part2{
    width: 45%;
    font-family: 'Poppins', sans-serif;

}

.elem-part2 h1{
    font-weight: 400;
    font-size: 3vw;
}
.elem-part2 h5{
    font-weight: 400;
    font-size: 0.7vw;
    text-transform: uppercase;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}

.elem:hover{
    background-color: #e6e6e6;
}


#page-6{
    height: 75%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
}

#page-6-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* position: relative;  */
}

#page-6-left img{
    height: 100%;
    object-fit: cover;
    left: 0;    /* align-items: center; */

}

#page-6-right{
    height: 100%;
    width: 75%;
}

#page-6-right-text{
    font-family: 'Poppins', sans-serif;
}

#page-6-right-text h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6vh;
    padding-bottom: 3vh;
}

#page-6-right-text h3{
    width: 75%;
    font-size: 3vh;
    font-weight: 400;
    padding-bottom: 2.5vh;
}

#page-6-right-text h5{
    width: 100%;
    font-weight: 400;
    font-size: 1.5vh;
    padding-bottom: 8.5vh;
}

#page-6-right-img {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(100% - var(--right-text-height));
}

#page-6-right-img img {
    width: 48%;
    height: 100%;
    object-fit: cover;
    align-items: last baseline;
}


#page-6-right-img:nth-last-child(1) img {
    width: 48%;
    height: 100%;
    object-fit:cover;
    object-position: top;
}

#page-7 {
    padding-top: 50px;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: flex-start; 
    justify-content: center; 

}

#page-7 img {
    width: 90%; 
    height: 100%; 
    object-fit: cover; 
    margin-top: 0; 
}

#page8{
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
    padding-bottom: 0;
}

#page8-part1{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1509631179647-0177331693ae?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#page8-part2{
    height: 100%;
    width: 46%;
}

#page8-part2 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: top;
    top: -50px;
}


#page8-part2-text {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    gap: 20px;
    flex-direction: row;
}

#page8-part2-text h3 {
    width: 100%;
    font-size: 1.7vw;
    font-weight: 500;
    padding-top: 30px;
}

#page8-part2-text h5 {
    width: 100%;
    font-size: 0.90vw;
    font-weight: 500;
    margin-top: 0;
    padding-top: 30px;
}




